<!DOCTYPE html>
{% extends "base.html" %}
{% block title %} 添加用户 {% endblock %}
{% block content %}
<table border="1">
    <thead>
    <tr>

        <th>ID</th>
        <th>姓名</th>
        <th>密码</th>
        <th>性别</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <form action="create" , method="POST">
            <td><input type="text" readonly="readonly" name="id" value="{{ id }}"></td>
            <td>
                <input type="text" name="username" value="{{ username }}">
            </td>
            <td>
                <input type="text" name="passwd" value="{{ passwd }}">
            </td>
            <td>
                <input type="text" name="sex" value="{{  sex }}">
            </td>
            <td>
                <input type="submit" value="提交">
            </td>
        </form>
    </tr>

    </tbody>
</table>

{% endblock %}