<!-- 继承⺟母版不不变的部分 -->
{% extends "base.html" %}
<!-- 重写⺟母版变的部分-->
{% block title %} ⽤户的列表 {% endblock %}

<!-- 重写⺟母版变的部分-->
{% block content %}
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>密码</th>
        <th>性别</th>
        <th colspan="2">用户操作</th>
    </tr>
    <tr>
    <a href="create.html">新增数据</a>
    </tr>
    </thead>

    <tbody>

    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.passwd }}</td>
        <td>{{ user.get_sex_display }}</td>
        <td>
            <a href="/hello/update/{{ user.id }}">更新</a>
        </td>
        <td>
            <a href="hello/delete/{{ user.id }}">删除</a>
        </td>
    </tr>
    {% endfor %}
    <p></p>
    </tbody>

</table>
{% endblock %}